*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 70px;
    background-color: rosybrown;
}
.container{
    width: 1200px;
    height: 70px;
    border: 1px solid red;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container ul.menu,.acc{
    display: flex;
}
.container ul li{
    list-style-type: none;
    
}
.container>ul.menu li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 25px 15px;
    /* border: 1px solid red; */
}
.container>ul li a:hover {
    color: red;
}
.dropdown{
    position: relative;
}
.dropdown ul{
    position: absolute;
    width: 300px;
    top:40px;
    background-color: rgb(139, 144, 60);
    display: none;
}
.dropdown:hover ul{
    display: block;
}

/* .box{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    display: inline-block;
}
.relative{
    position: relative;

} */
