*{
    margin: 0;
    padding: 0;
    
}

header{
    width: 100%;
    height: 70px;
    background-color: black;

}
.container{
    width: 1200px;
    height: 70px;
    margin: auto;
    display: flex;

}
header ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    
}
header .logo{
    height: 60px;
    width: 100px;
}
header ul {
    width: 700px;
    display: flex;
    /* background-color: red; */
    margin-left: 50px;
    justify-content: space-between;
}
header ul li {
    display: flex;
    width: 120px;
    height: 70px;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-items: center;
    
}
header ul li a:hover{
    background-color: rgb(223, 200, 200);
    color: rgb(61, 175, 4);
}
header ul li ul{
    
    flex-direction: column;
    display: none;
}
.product{
    position: absolute;
    background-color: red;
    top: 70px;
    
}
header ul li:hover ul {
    display: flex;
}